[Unit]
Description=OpenSearch
Documentation=https://opensearch.org/docs/
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
User=opensearch
Group=opensearch

Environment=OPENSEARCH_HOME=/opt/opensearch
Environment=OPENSEARCH_PATH_CONF=/opt/opensearch/config

WorkingDirectory=/opt/opensearch
ExecStart=/opt/opensearch/bin/opensearch

StandardOutput=journal
StandardError=inherit

LimitNOFILE=65535
LimitNPROC=4096
LimitAS=infinity
LimitFSIZE=infinity

Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target

