[Unit]
Description=MinIO Object Storage
Documentation=https://min.io/docs/minio/linux/index.html
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
User=minio
Group=minio

EnvironmentFile=-/etc/minio/minio.env

ExecStart=/usr/local/bin/minio server $MINIO_OPTS $MINIO_VOLUMES

Restart=always
RestartSec=5

LimitNOFILE=65536
TasksMax=infinity

[Install]
WantedBy=multi-user.target

