global
  log /dev/log local0
  log /dev/log local1 notice
  maxconn 50000
  daemon

defaults
  log global
  mode tcp
  option tcplog
  timeout connect 5s
  timeout client  1m
  timeout server  1m

# Patroni REST API를 통한 role 체크
# - Primary 라우팅: primary만 UP
listen postgres_primary
  bind 0.0.0.0:5432
  option httpchk GET /primary
  http-check expect status 200
  default-server inter 2s fall 2 rise 2 on-marked-down shutdown-sessions
  server pg-node-1 10.10.21.10:5432 maxconn 20000 check port 8008
  server pg-node-2 10.10.21.11:5432 maxconn 20000 check port 8008

# Read-only 라우팅: replica만 UP (읽기 전용)
listen postgres_replica
  bind 0.0.0.0:5433
  option httpchk GET /replica
  http-check expect status 200
  default-server inter 2s fall 2 rise 2 on-marked-down shutdown-sessions
  server pg-node-1 10.10.21.10:5432 maxconn 20000 check port 8008
  server pg-node-2 10.10.21.11:5432 maxconn 20000 check port 8008

